.articleRow .articleCard {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 1em;
  grid-gap: 1em;
  grid-auto-rows: minmax(100px auto);
}

.commentRow .commentCard {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1em;
  grid-gap: 1em;
  grid-auto-rows: minmax(100px auto);
}

.articleCardSingle {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1em;
  background-color: #c31231;
}

.loadingGif {
  margin: auto;
}
