@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap");

.App {
  font-family: "Roboto Slab", "serif";
}

.articleRow .articleCard {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 1em;
  grid-gap: 1em;
  grid-auto-rows: minmax(100px auto);
}

.commentRow .commentCard {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1em;
  grid-gap: 1em;
  grid-auto-rows: minmax(100px auto);
}

.commentBox {
  display: grid;
  padding: 1em;
  grid-template-columns: 1fr 1fr 1fr;
}

.buttonContainer {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.articleCardSingle {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1em;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 2em;
  background: rgba(255, 255, 255, 0.75);
  border: 2px;
  border-radius: 5px;
  word-wrap: break-word;
}

.articleSorterDropdown {
  display: grid;
  justify-items: end;
  padding: 0.5em;
}

.loadingGif {
  display: grid;
  justify-items: center;
  margin: auto;
}

.navBar {
  display: flex;
  justify-content: center;
  align-self: bottom;
  background: #c41435;
  width: 100%;
  border: 2px solid white;
  border-radius: 5px;
}
