.articleRow .articleCard {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 1em;
  grid-gap: 1em;
  grid-auto-rows: minmax(100px auto);
}

.commentRow .commentCard {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1em;
  grid-gap: 1em;
  grid-auto-rows: minmax(100px auto);
}

.commentBox {
  display: grid;
  padding: 1em;
  grid-template-columns: 1fr 1fr 1fr;
}

.articleCardSingle {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1em;
  background-color: #c31231;
}

.articleSorterDropdown {
  display: grid;
  justify-items: end;
  padding: 0.5em;
}

.loadingGif {
  display: grid;
  margin: auto;
}

.navBar {
  position: fixed;
  z-index: 1;
}

.siteHeader {
  padding: 1em;
  text-align: center;
}
